body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #1f1c2c, #928dab);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}